.jumbotron{
  background-color: gray;
  color: black;
  margin-top: 0px;
}

.footer{
  padding: 10px 10px 0 10px;
  background-color: white;
  margin-bottom: 0px;
  margin-top: 10px;
}

.btn-primary{
  background-color: Light Blue;
  color: white;
  /*padding: 2px 0px 2px 0px; */
  margin-top: 10px;
}

.btn-reservar
{
  width: 100%
  /*border-radius : 0px;*/
}

.card-hotel{
  flex: 1 250px;
  padding: 2px 5px 2px 5px
  /*height: 100%*/
  margin-top: 10px;
}

.footer-address-icon{
  padding-right: 10px;
}

.card-hotel{
  padding-bottom: 10px;
}
