@yellow: #fffa19;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}



.jumbotron{
  background-color: @yellow;
  color: black;
  .margenes(50px,0px);
}

.footer{
  padding: 10px 10px 0 10px;
  background-color: white;
  .margenes(10px,0px);
}

.btn-primary{
  background-color: Light Blue;
  color: white;
  /*padding: 2px 0px 2px 0px; */
  .margenes(10px,0px);
}

.btn-reservar
{
  width: 100%
  /*border-radius : 0px;*/
}

.card-hotel{
  flex: 1 250px;
  padding: 2px 5px 2px 5px
}

.footer-address-icon{
  padding-right: 10px;
}

.card-hotel{
  padding-bottom: 10px;
}
