.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-primary {
  background-color: Light Blue;
  color: white;
  /*padding: 2px 0px 2px 0px; */
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reservar {
  width: 100% /*border-radius : 0px;*/;
}
.card-hotel {
  flex: 1 250px;
  padding: 2px 5px 2px 5px;
}
.footer-address-icon {
  padding-right: 10px;
}
.card-hotel {
  padding-bottom: 10px;
}
